# This is the ignore file used when uploading this repository to Google Cloud Build

# Ignore packages that are never deployed (in any environment)
/packages/db-scripts

# Ignore all docs
README.md
/docs
apidoc.json

# Ignore git files
.git
.github
.gitattributes
.gitignore

# Ignore configuration files
.eslintignore
.eslintrc.js
jest.config.js

# Ignore all scripts
/scripts/*
# Except
!/scripts/createBranchJson.js
!/scripts/frontend

# the following line adds everything in .gitignore to this file (even though the line is a comment)
#!include:.gitignore
# See https://cloud.google.com/sdk/gcloud/reference/topic/gcloudignore for more documentation about the include pattern

# Include branch.json that was excluded by .gitignore
!branch.json