$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #373a3c;
$gray-900: #212529;
$black: #000;

$blue: #2780e3;
$indigo: #6610f2;
$purple: #613d7c;
$pink: #e83e8c;
$red: #ff0039;
$orange: #f2661f;
$yellow: #bed32b;
$green: #3fb618;
$teal: #20c997;
$cyan: #9954bb;
$lightblue: lighten($blue, 20%);

$primary: $blue;
$secondary: $orange;
$success: $green;
$info: $lightblue;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

$background-green: #ebf6ee;

// TODO Switch to @use
// https://sass-lang.com/documentation/at-rules/import#main-content
@import "../../node_modules/bootswatch/dist/flatly/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootswatch/dist/flatly/bootswatch";
$fa-font-path: "../fonts";
@import "../../node_modules/formiojs/dist/formio.full.css";

.app {
  font-family: "DM Sans", sans-serif;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.appContent {
  flex: 1;
  padding: 70px 100px 0 100px;
}

.header {
  background-color: $background-green;
}

.wordmark {
  font-size: 24px;
  letter-spacing: 0.75px;
  color: $black;
  padding: 10px 15% 0 80px;
}

.websitetitle {
  font-size: 32px;
  letter-spacing: 0.75px;
  color: $black;
}

.logo {
  height: 1.9em;
}

.text-blue {
  color: #127abf;
}

.text-green {
  color: #449414;
}

.hero-image {
  display: inline;
  height: 2em;
}

#main {
  margin-top: 10px;
}

.body {
  font-size: 22px;
  letter-spacing: 0.75px;
  color: black;
}

.heading {
  font-size: 22px;
  letter-spacing: 0.75px;
  color: black;
  background-color: #ebf6ee;
  display: inline-block;
  line-height: 0.5;
}

.map {
  height: 70vh;
}

.btn-light {
  background-color: #f5f3f2;
}

.btn-lg {
  font-size: 22px;
  margin: 5px 15%;
  padding: 10px 30px;
  width: 70%;
}

.btn-sm {
  font-size: 18px;
  margin: 3px 8%;
  padding: 5px 15px;
  width: 40%;
}

.btn-light:hover {
  background-color: #bbccee;
}

.btn-light:disabled {
  color: #b1b1b1;
  background-color: #faf6f6;
}

.seventypxmargin {
  margin-top: 70px;
}

.fourtypxmargin {
  margin-top: 40px;
}

.twentypxmargin {
  margin-top: 20px;
}

.footer {
  padding: 15px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
}

.footerLink {
  color: black;
  text-decoration: underline;
}

.footerLink:hover {
  color: $blue;
}

.spinner {
  margin: 10px auto;
}

.spinnerText {
  margin: auto;
}

h2{
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
}

[id^="wizard-"][id$="-header"] {
  display: none;
}
