$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #373a3c;
$gray-900: #212529;
$black: #000;

$blue: #2780e3;
$indigo: #6610f2;
$purple: #613d7c;
$pink: #e83e8c;
$red: #ff0039;
$orange: #f2661f;
$yellow: #bed32b;
$green: #3fb618;
$teal: #20c997;
$cyan: #9954bb;
$lightblue: lighten($blue, 20%);

$primary: $blue;
$secondary: $orange;
$success: $green;
$info: $lightblue;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

// TODO Switch to @use
// https://sass-lang.com/documentation/at-rules/import#main-content
@import "~bootswatch/dist/flatly/_variables.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootswatch/dist/flatly/_bootswatch.scss";
$fa-font-path: "../fonts";
@import "~formiojs/dist/formio.full.css";

.wordmark {
  font-family: "DM Sans", sans-serif;
  font-size: 2.75vw;
  letter-spacing: 0.75px;
  color: $black;
}

.header {
  background-color: #ebf6ee;
}

.logo {
  height: 1.9em;
}

.text-blue {
  color: #127abf;
}

.text-green {
  color: #449414;
}

.hero-image {
  display: inline;
  height: 2em;
}

#main {
  margin-top: 10px;
}

.body {
  font-family: "DM Sans", sans-serif;
  font-size: 1.25vw;
  letter-spacing: 0.75px;
}

.map {
  height: 70vh;
}